mixin about_screen 
    +b.about.wrap
        +b.about-content.container
            +b.about-build
                +e.IMG.img(src="./img/about-build.png")
            +b.about-info
                +e.P.title.title_regular КТО МЫ?
                +e.P.text.regular_text Защитники #[span бизнеса] от внешних и внутренних угроз.
                +e.P.text.regular_text Обеспечиваем спокойствие 
                    span собственников и руководителей бизнеса 24/7.
                +e.P.text.regular_text Решительность  и проактивность в действиях, нацеленность на успех клиента.
