include ./main_screen.pug
include ./about_screen.pug
include ./uniqueness_screen.pug
include ./services_screen.pug

mixin home_page
    +main_screen
    +about_screen
    +uniqueness_screen
    +services_screen 