mixin insights-list-item
    +e.A.item(href="#")
        +e.img-block
            +e.IMG.img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRW1tBh8gDp3-ENGLfOl8z2hhjNK-Bd1DahNQ&usqp=CAU")
        +e.title-block
            +e.P.title.regular_big Background Check