mixin main_screen 
	+b.main.wrap
		+b.main-content.container
			+b.P.main-title.title_big КОМПЛЕКСНАЯ БЕЗОПАСНОСТЬ
				span  БИЗНЕСА
			+b.main-questions-slider
				+e.P.item.regular_small Ваш бизнес не выходит на целевые результаты?! Так может у Вас просто воруют, а бизнес-модель в полном порядке!
				+e.P.item.regular_small Все еще думаете что активы ценнее информации? Практика показывает обратное!
				+e.P.item.regular_small Вы хотите заниматься бизнесом или безопасностью? Выбор очевиден!
				+e.P.item.regular_small Вы хотите заниматься бизнесом или безопасностью? Выбор очевиден!
			+b.IMG.main-circle(src="./img/circle_gray.png")
			+b.main-achievements
				+e.item
					+e.num 200+
					+e.text.regular_small Отраженных угроз
				+e.item
					+e.num 200+
					+e.text.regular_small Отраженных угроз
				+e.item
					+e.num 200+
					+e.text.regular_small Отраженных угроз
				+e.item
					+e.num 200+
					+e.text.regular_small Отраженных угроз


