mixin pre-service_page
    +b.pre-service.wrap
        +b.pre-service-content.container_small
            +b.pre-service__block-title
                +e.P.title.title_regular НАЗВАНИЕ УСЛУГИ
                +b.A.go-back.regular_small(href="#") Ко всем услугам
            +b.pre-service__info
                +e.img-block
                    +e.IMG.img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSF9t4bWgZlYNMO6HvACR40XkFTbDCT9ibKxw&usqp=CAU")
                +e.P.desc.regular_small Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                +e.P.desc.regular_small Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            +b.A.service-page-btn.btn_default(href="#") Заказать

