mixin service-page-list-item
    +b.service-page-list__item
        +e.IMG.icon(src="./img/career.png")
        +e.text
            +e.P.title.regular_big Заголовок подуслуги
            +e.P.desc.regular_small устранить последствия наступившей угрозы дороже и дольше чем, устранить угрозу на зачаточной стадии