mixin uniqueness-item
    +b.uniqueness-info__item
        +e.IMG.icon(src="./img/shield.png")
        +e.text
            +e.P.title.regular_big Действеем оперативно и наступательно
            +e.P.desc.small_text действеем оперативно и наступательно ействеем оперативно и наступательно ействеем оперативно и наступательно