include ./uniqueness-item.pug
mixin uniqueness_screen
    +b.uniqueness.wrap
        +b.uniqueness-content.container_small
            +b.P.uniqueness__title.title_regular НАША УНИКАЛЬНОСТЬ
            +b.uniqueness-info
                +uniqueness-item
                +uniqueness-item
                +uniqueness-item
                +uniqueness-item
                +uniqueness-item
                +uniqueness-item
                